<!--views/replies.handlebars-->
<div class="row mt-3">
  <div class="col-md-4 display-flex justify-content-center">
    <img src="{{tweetUser.avatar}}" alt="{{tweetUser.name}}" style="width: 250px;margin-bottom: 25px;">
    <h3>{{tweetUser.name}}</h3>
    <p>{{tweetUser.introduction}}</p>
    <p><a href="/users/{{tweetUser.id}}/tweets">Tweets({{totalTweets}})</a></p>
    <p><a href="/users/{{tweetUser.id}}/followings">Following({{totalFollowings}})</a></p>
    <p><a href="/users/{{tweetUser.id}}/followers">Follower({{totalFollowers}})</a></p>
    <p><a href="/users/{{tweetUser.id}}/likes">Like({{totalLiked}})</a></p>
    {{#if isFollowed}}
    <form action="/followships/{{tweetUser.id}}/?_method=DELETE" method="POST" style="display: contents;">
      <button type="submit" class="btn btn-danger">Unfollow</button>
    </form>
    {{else}}
    <form action="/followships" method="POST" style="display: contents;">
      <button type="submit" class="btn btn-primary" name="id" value="{{tweetUser.id}}">Follow</button>
    </form>
    {{/if}}
  </div>
  <div class="col-md-8">
    <p>Tweets</p>
    <div class="card mb-3">
      <div class="card-body row">
        <div class="col-md-3">
          <img src="{{tweetUser.avatar}}" alt="{{tweetUser.name}}" style="width: 100px">
        </div>
        <div class="col-md-9">
          <p><a href="/users/{{tweetUser.id}}/tweets">@{{tweetUser.name}}</a> {{moment tweet.createdAt}}</p>
          <p>{{tweet.description}}</p>
          <span class="text-primary mr-3"><i class="far fa-comment"></i>({{replyCount}})</span>
          {{#if isLiked}}
          <form action="/tweets/{{tweet.id}}/unlike" method="POST" style="display: inline-block">
            <button type="submit" class="btn btn-link" style="text-decoration:none"><i
                class=" fas fa-thumbs-up"></i>({{totalLikedUsers}})</button>
          </form>
          {{else}}
          <form action="/tweets/{{tweet.id}}/like" method="POST" style="display:inline-block">
            <button type="submit" class="btn btn-link" style="text-decoration:none"><i
                class="far fa-thumbs-up"></i>({{totalLikedUsers}})</button>
          </form>
          {{/if}}
        </div>
      </div>
    </div>
    <p>Replies</p>
    {{#each reply}}
    <div class="card mb-3">
      <div class="card-body row">
        <div class="col-md-3">
          <img src="{{this.User.avatar}}" alt="{{this.User.name}}" style="width: 100px">
        </div>
        <div class="col-md-9">
          <p><a href="/users/{{this.User.id}}/tweets">@{{this.User.name}}</a> {{moment this.createdAt}}</p>
          <p>{{this.comment}}</p>
        </div>
      </div>
    </div>
    {{/each}}
    <form action="/tweets/{{tweet.id}}/replies" method="POST">
      <textarea class="form-control rounded-0" name="newReply" id="newReply" rows="5" maxlength="140" required
        placeholder="What's on your mind?"></textarea>
      <button class="btn btn-primary float-right mt-3" type="submit">Reply</button>
    </form>
  </div>
</div>